name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: make install
      - name: set_up
        env:
          SERVER_HOST_NAME: ${{ secrets.SERVER_HOST_NAME }}
          DATABRICKS_KEY: ${{ secrets.DATABRICKS_KEY }}
        run: make set_up
      - name: lint
        run: make lint
      - name: test
        run: make test
      - name: format
        run: make format
